<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="user/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="card ">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">

					<div class="row">

						<div class="col-md-6 offset-md-4">
							<form class="mt-2" th:action="@{/user/process-contact}" th:object="${contact}" enctype="multipart/form-data" method="post">


								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1"><i class="fa fa-plus"></i></span>
	   								<input type="text" class="form-control" name="firstName" id="firstName" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
								</div>
								
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
	   								<input type="text" class="form-control" name="lastName" id="lastName" placeholder="Lastname" aria-label="Lastname" aria-describedby="basic-addon1">
								</div>
								
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1"><i class="fa fa-briefcase"></i></span>
	   								<input type="text" class="form-control" name="work" id="work" placeholder="work" aria-label="Work" aria-describedby="basic-addon1">
								</div>
								
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
	   								<input type="number" class="form-control" name="phone" id="phone" placeholder="phone" aria-label="phone" aria-describedby="basic-addon1">
								</div>
								
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
	   								<input type="email" class="form-control" name="email" id="email" placeholder="email" aria-label="email" aria-describedby="basic-addon1">
								</div>
								
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1"><i class="fa fa-file"></i></span>
	   								<input type="file" class="form-control" name="image1" id="image1" placeholder="image" aria-label="image" aria-describedby="basic-addon1">
								</div>
								
								<div class="input-group mb-3">
	   								<textarea placeholder="Enter Description" cols="90" rows="5" name="description" id="description"></textarea>
								</div>
								
								<div class="form-group">
									<button class="btn btn-outline-primary">Save Contact</button>
									<button class="btn btn-outline-warning">Reset</button>
								</div>
								
				
							
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

</body>
</html>