body {
	background-color: #e2e2e2 !important;
}

.bg-primary {
	background: #009688 !important;
}

.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
		url("../img/banner.jpg");
	background-size: cover;
	color: white;
}

.mycart {
	padding: 20px;
	background: #FFFFFF;
}

.box {
	width: 500px;
	margin: 200px 0;
}

.shape1 {
	position: relative;
	height: 150px;
	width: 150px;
	background-color: #009688;
	border-radius: 80px;
	float: left;
	margin-right: -50px;
}

.shape2 {
	position: relative;
	height: 150px;
	width: 150px;
	background-color: #009688;
	border-radius: 80px;
	margin-top: -30px;
	float: left;
}

.shape3 {
	position: relative;
	height: 150px;
	width: 150px;
	background-color: #009688;
	border-radius: 80px;
	margin-top: -30px;
	float: left;
	margin-left: -31px;
}

.shape4 {
	position: relative;
	height: 150px;
	width: 150px;
	background-color: #009688;
	border-radius: 80px;
	margin-top: -25px;
	float: left;
	margin-left: -32px;
}

.shape5 {
	position: relative;
	height: 150px;
	width: 150px;
	background-color: #009688;
	border-radius: 80px;
	float: left;
	margin-right: -48px;
	margin-left: -32px;
	margin-top: -30px;
}

.shape6 {
	position: relative;
	height: 150px;
	width: 150px;
	background-color: #009688;
	border-radius: 80px;
	float: left;
	margin-right: -20px;
	margin-top: -35px;
}

.shape7 {
	position: relative;
	height: 150px;
	width: 150px;
	background-color: #009688;
	border-radius: 80px;
	float: left;
	margin-right: -20px;
	margin-top: -57px;
}

.float {
	position: absolute;
	z-index: 2;
}

.login-form {
	margin-left: 145px;
}

.submit-btn {
	padding-top: 20px;
}

.ml-auto .dropdown-menu {
	left: auto !important;
	right: 0px;
}

@media only screen and (max-width:600px) {
	.sidebar {
		display:none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 45px;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 999999999999999999999999;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 30px;
	color: gray;
	text-decoration: none;
}
.sidebar .btn-cross{
	position: absolute;
	top: 0px;
	right:34px;
	font-size: 30px;
	cursor: pointer;
	
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar .divider {
	height: .5px;
	width: 100px;
	background: #e2e2e2;
	margin-top: 10px;
}

.content {
	margin-left: 20%;
	margin-top: 60px;
}